@import url('base.css');

.button {
    -fx-text-fill: -accent-color;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(-tertiary-color, -quaternary-color);
    -fx-background-radius: 10;
    -fx-border-color: -accent-color;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

.button:hover {
    -fx-text-fill: -accent-text;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: -accent-color;
    -fx-background-radius: 10;
    -fx-border-color: -accent-color;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

.button:pressed {
    -fx-text-fill: -accent-text;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: derive(-accent-color, -10%);
    -fx-background-radius: 10;
    -fx-border-color: -accent-color;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

.discover-event-cell {
    -fx-border-color: -secondary-text;
    -fx-border-radius: 10;
}

.discover-event-cell .label {
    -fx-text-fill: -secondary-text;
}

.discover-event-cell-main-pane {
    -fx-padding: 5;
}